{% extends "userm/base1.html" %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <title>{% block title %}Mobile Price Dataset{% endblock %}</title>

{% block content %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Exo+2:wght@600&family=Libre+Baskerville&family=Mukta:wght@400;600&display=swap" rel="stylesheet">

<style>
    div.container .a {
      text-align: center;
      line-height: 1.8;
    }

    div.container .a h2 {
        line-height: 2.5;
        font-family: 'Anton', sans-serif;
        font-size: 40px;
    }    

    div.container .a p {
        font-family: 'Mukta', sans-serif;
        font-size: 18px;
    }

    div.container .row .col-sm-3{
      background-color: #111;
      text-align: center;
      border-radius: px;
      color: white;
      font-family: 'Libre Baskerville', serif;
    }

    div.container .row .col-sm-5{
      font-family: 'Exo 2', sans-serif;
      font-size: 15px;
    }

    div.container .b .c {
        border-radius: 25px;
        border: 5px solid #ad974f;
    }

    body {
      background-color: #eaeaee;
    }
</style>

</head>

<body>

{% load static %}

    <div class="container">
        <div class="a">
            <h2>Mobile Price Dataset</h2>
            <p>Mobile price depends on various factors such as resolution, brand, size, weight, imaging
              quality, RAM, battery and cpu power. In this dataset, we want to estimate the price of
              mobile phones using the above features. <br>
              In this dataset, we want to estimate the price of mobile phones using those features above.</p>
        </div>

        <br>

      <div class="container">
        <div class="row">
          <div class="col">
            <dl class="row"> 
              <dt class="col-sm-2"></dt>
              <dt class="col-sm-3"></dt>
              <dd class="col-sm-5"></dd>
              <dt class="col-sm-2"></dt>
              <br>
              <br>
            
              <dt class="col-sm-2"></dt>
              <dt class="col-sm-3" style="color: #ad974f ;">Sales</dt>
              <dd class="col-sm-5">
                <p>Sales number <br>(example: 8)</p>
              </dd>
              <dt class="col-sm-2"></dt>

              <dt class="col-sm-2"></dt>
              <dt class="col-sm-3" style="color: #ad974f ;">Weight</dt>
              <dd class="col-sm-5">
                <p>Weight of each cellphone <br>(example: 1.350)</p>
              </dd>
              <dt class="col-sm-2"></dt>

              <dt class="col-sm-2"></dt>
              <dt class="col-sm-3" style="color: #ad974f ;">Resolution</dt>
              <dd class="col-sm-5">
                <p>Resolution of each cellphone <br>(example: 16)</p>
              </dd>
              <dt class="col-sm-2"></dt>

              <dt class="col-sm-2"></dt>
              <dt class="col-sm-3" style="color: #ad974f ;">PPI</dt>
              <dd class="col-sm-5">
                <p>Phone Pixel Density <br>(example: 3)</p>
              </dd>
              <dt class="col-sm-2"></dt>

              <dt class="col-sm-2"></dt>
              <dt class="col-sm-3" style="color: #ad974f ;">CPU Core</dt>
              <dd class="col-sm-5">
                <p>CPU core of each cellphone <br>(example: 13)</p>
              </dd>
              <dt class="col-sm-2"></dt>

              <dt class="col-sm-2"></dt>
              <dt class="col-sm-3" style="color: #ad974f ;">CPU Frequency</dt>
              <dd class="col-sm-5">
                <p>CPU frequency of each cellphone <br>(example: 8)</p>
              </dd>
              <dt class="col-sm-2"></dt>

              <dt class="col-sm-2"></dt>
              <dt class="col-sm-3" style="color: #ad974f ;">Internal Memory</dt>
              <dd class="col-sm-5">
                <p>Internal Memory of each cellphone <br>(example: 2610)</p>
              </dd>
              <dt class="col-sm-2"></dt>
  
              <dt class="col-sm-2"></dt>
              <dt class="col-sm-3" style="color: #ad974f ;">RAM</dt>
              <dd class="col-sm-5">
                <p>RAM of each cellphone <br>(example: 7.4)</p>
              </dd>
              <dt class="col-sm-2"></dt>

              <dt class="col-sm-2"></dt>
              <dt class="col-sm-3"></dt>
              <dd class="col-sm-5"></dd>
              <dt class="col-sm-2"></dt>
              <br><br>
          </div>
          <div class="col">
            <div class="b" align = "center">
              <div class="c">
              <br>
              <h2>Enter the following details:</h2>
              <br>
              <form action = "resulta">
                <table>
                    <tr>
                        <td align="right"> Sales:</td>
                        <td aligh="left"><input type="text" name="p1"></td>
                    </tr>
                    <tr>
                        <td align="right"> Weight:</td>
                        <td aligh="left"><input type="text" name="p2"></td>
                    </tr>
                    <tr>
                        <td align="right"> Resolution:</td>
                        <td aligh="left"><input type="text" name="p3"></td>
                    </tr>
                    <tr>
                        <td align="right"> PPI:</td>
                        <td aligh="left"><input type="text" name="p4"></td>
                    </tr>
                    <tr>
                        <td align="right"> CPU Core:</td>
                        <td aligh="left"><input type="text" name="p5"></td>
                    </tr>
                    <tr>
                        <td align="right"> CPU Frequency:</td>
                        <td aligh="left"><input type="text" name="p6"></td>
                    </tr>
                    <tr>
                        <td align="right"> Internal Memory:</td>
                        <td aligh="left"><input type="text" name="p7"></td>
                    </tr>
                    <tr>
                        <td align="right"> RAM:</td>
                        <td aligh="left"><input type="text" name="p8"></td>
                    </tr>
                </table>
                <br>
                <input style="background-color: #000000; padding: 8px; border: 3px; color: #ad974f;" type ="submit">
              </form>
              <br>
              Result: {{resulta}}
              <br><br>
            </div>
          </div>
          <div class="model">
            <p style= "color: #000000; font-family: Libre Baskerville, serif; font-size: 15px;">
              <br>
              The result will be the estimated price of the mobile phone based on the inputs given.<br><br>
              Given that it has the greatest accuracy rate of any model we train, I decided to use the dataset using the Linear Regression model.
            <br> The accuracy rate that we got with the Linear Regression Model is 61%
            </p>
          </div>
        </div>
    </div>           
    
    <br><br><br>
      
{% endblock content %}

</body>